@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
  }
  html, body {
    margin: 0;
    padding: 0;
    background-color: #0C0C0C;
    color: #ffffff;
    font-family: 'Kanit', sans-serif;
  }
  #root {
    background-color: #0C0C0C;
    min-height: 100vh;
  }
}

.hero-heading {
  background: linear-gradient(180deg, #646973 0%, #BBCCD7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
